* {
  box-sizing: border-box;
}
#scraper-nav {
  align-content: center;
}
.hdln {
  font-family: 'Arvo', serif;
  font-size: 48px;
}
.n-btn {
  margin-right: 5px;
}
.btn-bar {
  margin-bottom: 32px;
}
